.menu-wrapper {
    display: none;
    width: 100vw;
    height: 100vh;
  }
  
  .menu-wrapper_visible {
    display: flex;
  }
  
  .menu-wrapper__fade {
    width: 60%;
    background-color: #000;
    opacity: .3;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100vh;
    padding: 27px;
    background-color: #fafafa;
    z-index: 1;
  }
  
  .menu__close {
    display: block;
    width: 22px;
    height: 22px;
    padding: 0;
    border: none;
    margin: 0 0 0 auto;
    background-color: transparent;
    background-image: url('../../images/close.svg');
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
  }
  
  .menu__list {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    list-style-type: none;
    padding: 0;
    margin: 105px 0 0;
  }
  
  .menu__item {
    display: block;
    margin-bottom: 28px;
  }
  
  .menu__item:last-of-type {
    margin-bottom: 0;
  }
  
  .menu__link {
    font-size: 18px;
    font-weight: 500;
    line-height: initial;
    color: #000;
    text-decoration: none;
  }
  
  .menu__link_active {
    position: relative;
  }
  
  .menu__link_active::after {
    content: '';
    position: absolute;
    left: 1px;
    bottom: -4px;
    width: 100%;
    border-bottom: 2px solid #000;
  }
  
  .menu__profile {
    display: flex;
    place-content: center;
    place-items: center;
    width: 100px;
    height: 32px;
    padding: 0;
    border: none;
    border-radius: 20px;
    margin: auto auto 90px;
    font-weight: 500;
    line-height: 16px;
    color: #000;
    background-color: #f4f4f4;
    text-decoration: none;
    cursor: pointer;
  }